# -*- mode: ruby -*-
# vi: set ft=ruby :

$install = <<SCRIPT
export DEBIAN_FRONTEND=noninteractive
apt-get -yq update
apt-get -yq --no-install-suggests --no-install-recommends --force-yes install curl git apache2 mysql-server-5.6 php5 php5-cli php5-mysqlnd apparmor-utils
SCRIPT

$configure = <<SCRIPT
cat > /etc/apache2/conf-available/wpcomposer.conf << "EOF"
<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /vagrant
    DirectoryIndex index.php
    ErrorLog ${APACHE_LOG_DIR}/wpcomposer-error.log
    CustomLog ${APACHE_LOG_DIR}/wpcomposer-access.log combined
</VirtualHost>
<Directory "/vagrant">
    Options Indexes FollowSymLinks Includes ExecCGI
    AllowOverride All
    Require all granted
</Directory>
EOF
a2enconf wpcomposer > /dev/null 2>&1
apachectl graceful
SCRIPT

$mysql = <<SCRIPT
mysql -u root -e 'CREATE DATABASE %DB_NAME% CHARACTER SET %DB_CHARSET% COLLATE %DB_COLLATE%;'
mysql -u root -e 'GRANT ALL PRIVILEGES ON %DB_NAME%.* TO %DB_USER%@localhost IDENTIFIED BY "%DB_PASSWORD%";'
SCRIPT

$wp = <<WP
sudo mkdir -p /usr/local/bin
sudo curl -o /usr/local/bin/wp https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
sudo chmod 755 /usr/local/bin/wp
cd /vagrant
wp core install --url="127.0.0.1" --allow-root --title="Title" --admin_user="wpadmin" --admin_password="password" --admin_email="me@example.com"
for i in `wp theme list --allow-root --field=name`; do wp theme activate $i --allow-root; done;
for i in `wp plugin list --allow-root --field=name`; do wp plugin activate $i --allow-root; done;
WP

$composer = <<COMPOSER
sudo curl -o /usr/local/bin/composer https://getcomposer.org/download/1.0.0/composer.phar
sudo chmod 755 /usr/local/bin/composer
sudo /usr/local/bin/composer self-update
COMPOSER

Vagrant.configure(2) do |config|
  config.vm.box = 'ubuntu/trusty64'

  config.vm.provider "virtualbox" do |v|
    v.memory = 1536
    v.cpus = 1
  end

  # LDAP port
  config.vm.network 'forwarded_port', guest: 80, host: %PORT%

  config.vm.provision 'shell', inline: $install
  config.vm.provision 'shell', inline: $configure
  config.vm.provision 'shell', inline: $mysql
  config.vm.provision 'shell', inline: $composer
  config.vm.provision 'shell', inline: $wp

  config.vm.synced_folder "./", "/vagrant", id: "vagrant-root",
      owner: "vagrant",
      group: "www-data",
      mount_options: ["dmode=775,fmode=664"]
end
